body{
    overflow-x: hidden;
}
#aside-nav {
    position: fixed;
    height: 100vh;
    min-width: 200px;
    width: 15vw;
}

main{
    position: absolute;
    width: 85vw;
    min-width: calc(100vw - 200px);
    left: max(15vw, 200px);
    padding: 100px;
}

td a {
    color: black;
}
