body{
    overflow-x: hidden;
}
#aside-nav {
    position: fixed;
    height: 100vh;
    min-width: 200px;
    width: 15vw;
}
.product {
    padding: 5px;
    max-width: 200px;
    border: 1px solid darkgray;
}
main{
    position: absolute;
    width: 85vw;
    min-width: calc(100vw - 200px);
    left: max(15vw, 200px);
    padding: 100px;
}
#grid-wrapper {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 10px;
}
